td{

  width:83px;
  height:83px;
  background-repeat:no-repeat;
  background-size:50px;
  border: 2px solid blue;
}

table{

  cursor: pointer;
  width:250px; 
  height:250px; 
  margin-left:50px;
  background-image: url("../media/back2.jpg");
  background-size: 100%;
}

#restart{

  margin-left:50px;
}

.winClass {

    background-color:#ADD8E6;
}
