
td{

  width:83px;
  height:83px;
  background-repeat:no-repeat;
  background-size:50px;
  border: 1px solid #666666;
  padding: 0px;
}

table{

  cursor: pointer;
  margin-left:50px;
  background-image: url("../media/back2.jpg");
  background-size: 100%;
  border-spacing: 0px;
  border: 1px solid #666666;
}

#restart{

  margin-left:50px;
  background-color:#00FFFF;
}

.winClass {

    background-color:#666666;
}
